body{
font-family: 'Poppins', sans-serif;
}
a{
   text-decoration: none;
   color: white;
}

.font{
   color: white;
   font-size: 25px;
}

.top{
   display: flex;
   justify-content: center;
   background-color: black;
   width: 100%;
   height: 408px;
   border-radius: 20px;
   
}
.button-top{
   background-color: red;
   border-radius: 5px;
   padding: 20px 30px;
   color: white;
   
}
.second-part{
   flex: 1;
   display: grid;
   height: 50%;
   background-color: black;
   padding: 30px;
   border-radius: 5px;
}
.button-1{
   background-color: white;
   color:black;
   border-radius: 5px;
   padding: 20px 30px;
   margin: 15px;
   }
.button-2{
   font-style: normal;
   background-color: red;
   color:white;
   border-radius: 5px;
   padding:20px 30px;
   margin: 15px;
}
.match-colam{
   overflow: hidden;
   margin: 10px;
   display: flex;
   margin-left: 50px; 
   margin-top: 50px;
   margin-bottom: 50px;
}
.matchs{
   flex: 2;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 24px;
   margin-left: 50px;
}
/* @media screen and (max-width: 768px) {
   .matchs{
   flex: 3;
   height: 50%;
   display: grid;
   grid-template-columns: 1fr;
   gap: 24px;
   margin-left: 50px;
 }
   
}
@media screen and (max-width: 1080px) {
   .matchs{
   flex: 3;
   height: 50%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
   margin-left: 50px;
} */

.thumb{
   display: flex;
}
.font2{
   align-items: center;
   justify-content: center;
}

.blog-button{
color: black;
width: 100px;
height: 32px;
border-radius: 5px;
}
#button{
   size: 100px;
}

.end{
   background-color: black;
   height: 308px;
   width: 100%;
   color: white;
   text-align: center;
   justify-content: center;
 }
 .footer-font{
   color:white;
   justify-content: center;

 }
 .footer-box{
   display: flex;
   color: white;
   list-style: none;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly
 }
 .line{
   width: 90%;
   margin-bottom: 50px;
 }

 


   
